<div class="row" id="jumbotron">
  
  <div *ngFor="let baby of babies" class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
    <img src="../../../assets/child.png" class="card-img-top" style="max-width: 250px;" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ baby.name }}</h5>
      <p class="card-text"><strong>Mamá: </strong> {{ baby.mother_name }}</p>
      <p class="card-text"><strong>Dirección: </strong> {{ baby.address }}</p>
      <p class="card-text"><strong>Teléfono: </strong> {{ baby.phone }}</p>
    </div>
  </div>

  
</div>