/* You can add global styles to this file, and also import other style files */

#jumbotron {
  margin-top: 25px;
}

#logo{
  max-width: 140px;
}

body{
  background: url(assets/back-footer.png) bottom left no-repeat fixed;
}